.head {
    display: grid;
    grid grid-template-rows: auto 10%;
}

.head > h1 {
    float: left;
}

.head > input {
    float: right;
}

.overflow {
    overflow: scroll;
    width: 100%;
    height: 88%;
}

.window {
    display: grid;
    grid-template-rows: 88% 10%;
    width: 100%;
}

.sendbox {
    display: grid;
    grid-template-columns: 90% 8%;
    column-gap: 1%;
    width: 100%;
}

#newmsg {
    text-align: start;
    overflow-y: scroll;
}